# Cache objects
packer_cache/

# Logs
crash.log
/logs

# Archive
/_archive

# Executables
packer.exe
packer-plugin-windows-update_v0.14.0_x5.0_windows_amd64.exe

# https://www.packer.io/guides/hcl/variables
# Exclude all .pkrvars.hcl files, which are likely to contain sentitive data,
# such as password, private keys, and other secrets. These should not be part of
# version control as they are data points which are potentially sensitive and
# subject to change depending on the environment.
#
#*.pkrvars.hcl
#!/lamp.pkrvars.hcl


# mkdocs
/site/
debug.log